<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;Dashboard
        </a>
        <a class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;Charts
        </a>
        <a class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;Tables
        </a>
        <a class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;Forms
        </a>
        <a class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;Bootstrap Element
        </a>
        <a class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;Bootstrap Grid
        </a>
    </div>
</nav>